<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARAÇ_KİRALAMA_DENEME_1.Properties.Settings.projemConnectionString"
            connectionString="Data Source=DESKTOP-UNS7IFO\SQLEXPRESS;Initial Catalog=projem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ARAÇ_KİRALAMA_DENEME_1.Properties.Settings.projemConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=projem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>